body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(193, 204, 190);
  color: rgb(74, 77, 79);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body header h1 {
  text-align:  center;
  color: white;
  text-shadow: 2px 2px 8px #000;
  font-weight: bolder;
}


figure
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
  text-align: center;
}

a {
  
  
}

a:hover {
  background-color: aqua;
}

figure{
  text-align: center;
}


figcaption {
  font-size: 0.7em;
  opacity: 0.5;
}





#featured-property-container {
  text-align: center;
  
}

#featured-property-paragraphs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
  
#details {
  
}

#details div {
  float: left;
  background-color: rgb(136, 151, 139);
  width: 25%;
  
}
#details div p,h3 {
  padding-left: 10px;
}